<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [208]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
pd.set_option('display.precision', 2)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.precision", 2)

In [209]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [210]:
gender_count = data.sex.value_counts()
gender_count.index.name='Gender'
gender_count.name='Gender Count'
print(gender_count)

Gender
Male      21790
Female    10771
Name: Gender Count, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [212]:
avg_age_women = data[data['sex']=='Female']['age'].mean()
print("Average age of women : {0:0.2f}".format(avg_age_women))

Average age of women : 36.86

**3. What is the percentage of German citizens (*native-country* feature)?**

In [53]:
german_citizien_propotion = data['native-country'].value_counts(normalize=True)['Germany'] * 100
print("Percentage of German citizens : {0:.2f}".format(german_citizien_propotion))

Percentage of German citizens : 0.42

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [59]:
data.groupby(['salary'])['age'].agg([np.mean,np.std])

         mean    std
salary
<=50K   36.78  14.02
>50K    44.25  10.52

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [63]:
def checkHasHighSchoolEdu(dataset,highSchEduList):
    for degree in dataset:
        if degree not in highSchEduList:
            return False
    return True

high_edu=['Bachelors', 'Masters','Assoc-acdm', 'Assoc-voc', 'Doctorate', 'Prof-school']
if checkHasHighSchoolEdu(data[data['salary']=='>50K']['education'],high_edu):
    print('People who earn more than 50K have at least high school education')
else:
    print('People who earn more than 50K even have lower than high school education')

People who earn more than 50K even have lower than high school education

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [67]:
data.groupby(['race','sex'])['age'].describe(percentiles=[])

                             count   mean    std   min   50%   max
race               sex
Amer-Indian-Eskimo Female    119.0  37.12  13.11  17.0  36.0  80.0
                   Male      192.0  37.21  12.05  17.0  35.0  82.0
Asian-Pac-Islander Female    346.0  35.09  12.30  17.0  33.0  75.0
                   Male      693.0  39.07  12.88  18.0  37.0  90.0
Black              Female   1555.0  37.85  12.64  17.0  37.0  90.0
                   Male     1569.0  37.68  12.88  17.0  36.0  90.0
Other              Female    109.0  31.68  11.63  17.0  29.0  74.0
                   Male      162.0  34.65  11.36  17.0  32.0  77.0
White              Female   8642.0  36.81  14.33  17.0  35.0  90.0
                   Male    19174.0  39.65  13.44  17.0  38.0  90.0

In [213]:
#Find the maximum age of men of Amer-Indian-Eskimo race.
max_age_AmeIndianEskimo_Men=data.groupby(['race','sex'])['age'].describe(percentiles=[]).loc[('Amer-Indian-Eskimo',   'Male')]['max']
print("Percentage of German citizens : {0}".format(int(max_age_AmeIndianEskimo_Men)))

Percentage of German citizens : 82

In [214]:
max_age_AmeIndianEskimo_Men=data[(data['race']=='Amer-Indian-Eskimo') & (data['sex']=='Male')]['age'].max()
print("Percentage of German citizens : {0}".format(int(max_age_AmeIndianEskimo_Men)))

Percentage of German citizens : 82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [215]:
married=data[data['marital-status'].apply(lambda status:status.upper()[:7]=='MARRIED')]['marital-status'].unique()
bachelor=data[data['marital-status'].apply(lambda status:status.upper()[:7]!='MARRIED')]['marital-status'].unique()

married_s=pd.Series(['MARRIED']*married.size,index=married)
bachelor_s=pd.Series(['BACHELOR']*bachelor.size,index=bachelor)

martial_status = dict(pd.concat([married_s,bachelor_s]))

print(martial_status)

{'Married-civ-spouse': 'MARRIED', 'Married-spouse-absent': 'MARRIED', 'Married-AF-spouse': 'MARRIED', 'Never-married': 'BACHELOR', 'Divorced': 'BACHELOR', 'Separated': 'BACHELOR', 'Widowed': 'BACHELOR'}

In [216]:
data_prop =(data[(data['salary']=='>50K') & (data['sex']=='Male')]['marital-status'].map(martial_status).value_counts()/data[(data['salary']=='>50K') & (data['sex']=='Male')]['marital-status'].count())*100
for sr in data_prop.index:
    print("{0} men who earn a lot (>50K) greater is {1:.2f}%".format(sr,data_prop[sr]))

MARRIED men who earn a lot (>50K) greater is 89.54%
BACHELOR men who earn a lot (>50K) greater is 10.46%

In [217]:
data[(data['salary']=='>50K') & (data['sex']=='Male')]['marital-status'].map(martial_status).value_counts()

MARRIED     5965
BACHELOR     697
Name: marital-status, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [157]:
max_hr_per_week = data['hours-per-week'].max()
no_people_max_hr_week = data[data['hours-per-week']==max_hr_per_week]['hours-per-week'].count()
no_people_max_hr_week_sal_grtr50K = data[data['hours-per-week']==max_hr_per_week]['salary'].value_counts(normalize=True)['>50K'] * 100
print("Maximum number of hours a person works per week : {0}".format(max_hr_per_week))
print("People work such a number of hours : {0}".format(no_people_max_hr_week))
print("Percentage of those who earn a lot (>50K) among them : {0:.2f}".format(no_people_max_hr_week_sal_grtr50K))

Maximum number of hours a person works per week : 99
People work such a number of hours : 85
Percentage of those who earn a lot (>50K) among them : 29.41

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [158]:
pd.crosstab(data['native-country'], data['salary'], 
           values=data['hours-per-week'], aggfunc=np.mean).T

native-country,?,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,France,Germany,Greece,Guatemala,Haiti,Holand-Netherlands,Honduras,Hong,Hungary,India,Iran,Ireland,Italy,Jamaica,Japan,Laos,Mexico,Nicaragua,Outlying-US(Guam-USVI-etc),Peru,Philippines,Poland,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
salary,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
<=50K,40.16,41.42,37.91,37.38,38.68,37.99,42.34,38.04,36.03,40.48,41.06,39.14,41.81,39.36,36.33,40.0,34.33,39.14,31.3,38.23,41.44,40.95,39.62,38.24,41.00,40.38,40.00,36.09,41.86,35.07,38.07,38.17,41.94,38.47,39.44,40.16,33.77,42.87,37.06,38.80,37.19,41.6
>50K,45.55,40.00,45.64,38.90,50.00,42.44,47.00,48.75,45.00,44.53,50.75,44.98,50.62,36.67,42.75,NaN,60.00,45.00,50.0,46.48,47.50,48.00,45.40,41.10,47.96,40.00,46.58,37.50,NaN,40.00,43.03,39.00,41.50,39.42,46.67,51.44,46.80,58.33,40.00,45.51,39.20,49.5

In [154]:
data.groupby(['native-country','salary'])['hours-per-week'].mean()['Japan']

salary
<=50K    41.00
>50K     47.96
Name: hours-per-week, dtype: float64